<div id="comment">
	<h3>Comments</h3>
	<hr>
	<div n:foreach="$comments as $comment" class="comment-box">
		<p>{$comment->content}</p>
		<small>Date: {$comment->created} | Sent: 
			{if $comment->web}
				<a href="{$comment->web}" target="_blank">{$comment->name}</a>
			{else}
				{$comment->name}
			{/if}
		</small>
	</div>

	<h4>Add new comment</h4>

	{control addCommentForm}
</div>