{var $title = 'Edit post'}

{block head}
	<script type="text/javascript" src="{$basePath}/js/tiny_mce/tiny_mce.js" ></script>
	<script type="text/javascript" >
		tinyMCE.init({
		        mode: "specific_textareas",
		        editor_selector: "mceEditor",
		         theme : "advanced"
		});
	</script >
{/block}

{block content}
	{control editPostForm}