
<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{HTTP_HOST} ^(www\.)?example\.com$
	RewriteRule ^$ www/ [L]
	RewriteCond %{HTTP_HOST} ^(www\.)?example\.com$
	RewriteRule (.*) www/$1 [L]

</IfModule>