<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="./tests/bootstrap.php"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">

	<php>
		<includePath>./libs/NetteTestCase/</includePath>
	</php>
	
	<testsuites>
	<testsuite name="Nazev Vaseho projektu">
		<directory>./tests</directory>

	</testsuite>
	</testsuites>

	<!--
	<logging>
		<log type="coverage-html" target="./tests/coverage/report" title="Nazev Vaseho projektu"
			 charset="UTF-8" yui="true" highlight="true"
			 lowUpperBound="35" highLowerBound="70"/>
	</logging>
	-->

	<!--
	<listeners>
		<listener class="phpunit_extensions_ticketlistener_github" 
		          file="./libs/NetteTestCase/framework/PhpUnit/phpunit/PHPUnit/Extensions/PHPUnit_Extensions_TicketListener_GitHub.php">
		  <arguments>
		    <string>Nazev Vaseho uctu na GitHubu</string>
		    <string>api_key</string>
		    <string>Nazev projektu na GitHubu</string>
		    <boolean>true</boolean>
		  </arguments>
		</listener>
	</listeners>
	-->
</phpunit>
