<?xml version="1.0" encoding="utf-8" ?>
<phpunit
	bootstrap="./tests/bootstrap.php"
	colors="true"
	backupGlobals="false"
	backupStaticAttributes="false"
	strict="true"
	>
	
	<logging>
	  <log type="coverage-html" target="./tests/coverage/report" charset="UTF-8"
	       yui="true" highlight="false"
	       lowUpperBound="35" highLowerBound="70"/>
	  <log type="coverage-clover" target="./tests/coverage/coverage.xml"/>
	  <log type="coverage-php" target="./tests/coverage/coverage.serialized"/>
	  <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
	  <log type="json" target="./tests/coverage/logfile.json"/>
	  <log type="tap" target="./tests/coverage/logfile.tap"/>
	  <log type="junit" target="./tests/coverage/logfile.xml" logIncompleteSkipped="false"/>
	  <log type="testdox-html" target="./tests/coverage/testdox.html"/>
	  <log type="testdox-text" target="./tests/coverage/testdox.txt"/>
	</logging>
	
</phpunit>