<h3>Komentáře</h3>
<hr>
{foreach $comments as $comment}
	<div class="comment-box">
		<p>{$comment->content}</p>
		<small>Dne: {$comment->created} | Zaslal uživatel: {$comment->user}</small>
	</div>
{/foreach}

{if $user->isLoggedIn()}

{form addCommentForm}
	{control $form errors}

	{label content/}
		{input content}

	{input send}
{/form}
{else}
	<p>Aby jsi mohl přidat komentář, musíš být přihlášený</p>
{/if}