<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./bootstrap.php" colors="true">

    <!-- <logging>
        <log type="coverage-html" target="./coverage/report" charset="UTF-8"
             yui="true" highlight="false"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./coverage/coverage.xml"/>
        <log type="testdox-html" target="./coverage/testdox.html"/>
    </logging> -->

</phpunit>