#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:
			driver: pdo_mysql
			charset: utf8

		entities:
			- %appDir%/models

		imageHelper:
			thumbDir: 'media/images_thumbnails' #do not change!
			imageDir: 'media/images' #do not change!
			baseDir: %wwwDir%

		selenium:
			host: localhost
			browser: firefox
			browserUrl: http://localhost/JS-CMS/www/
			# port: 4444
			
	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes


	nette:
		session:
			autoStart: smart
			expiration: + 30 days

	services:
		#memoryStorage:
		#	class: Nette\Caching\Storages\MemoryStorage
		#	autowired: no

		authorizator: Flame\Models\Security\Authorizator
		authenticator: Flame\Models\Security\Authenticator

		em_config:
			class: Doctrine\ORM\Configuration
			factory: Doctrine\ORM\Tools\Setup::createAnnotationMetadataConfiguration(%entities%, true)
		entity_manager:
			class: Doctrine\ORM\EntityManager
			factory: Doctrine\ORM\EntityManager::create(%database%, @em_config)

		Helpers:
			factory: Flame\Utils\Helpers(%imageHelper%)

		NewsreelFacade: Flame\Models\Newsreel\NewsreelFacade
		UserFacade: Flame\Models\Users\UserFacade
		OptionFacade: Flame\Models\Options\OptionFacade
		CommentFacade: Flame\Models\Comments\CommentFacade
		PostFacade: Flame\Models\Posts\PostFacade
		PageFacade: Flame\Models\Pages\PageFacade
		ImageFacade: Flame\Models\Images\ImageFacade

	factories:

development < common:
	parameters:
		database:
			host: localhost
			dbname: cms
			user: root
			password: root

production < common:
	parameters:
		database:
			host: wm20.wedos.net
			dbname: d16533_jscms
			user: w16533_jscms
			password: yourpasswordhere
