#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:
			driver: mysql
			host:
			dbname:
			user:
			password:

		selenium:
			host: localhost
			browser: firefox
			browserUrl: http://localhost/JS-CMS/www/
			# port: 4444
			
	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes


	nette:
		session:
			autoStart: smart
			expiration: + 30 days

		database:
			default:
				dsn: %database.dns%
				#dns: 'sqlite://%dataDir%/sqlite3.db'
				user: %database.user%
				password: %database.password%


	services:
		database: @Nette\Database\Connection

		#security
		authorizator: Authorizator
		authenticator: Authenticator( @users )

		#tables
		posts: PostsService
		users: UsersService
		comments: CommentsService
		options: OptionsService
		images: ImagesService


	factories:

production < common:
	parameters:
		database:
			host: wm20.wedos.net
			dbname: d16533_jscms
			user: w16533_jscms
			password: yourpasswordhere

development < common:
	parameters:
		database:
			host: localhost
			dbname: cms
			user: root
			password: root
