<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="robots" content="noindex,nofollow">

	<title>{ifset $title}{$title} &ndash; {/ifset}{$name} - Administration</title>

	<link rel="stylesheet" media="screen" href="{$basePath}/css/reset.css" type="text/css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/_admin/css/screen.css" type="text/css">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/js/ajax.js"></script>

    <script type="text/javascript" src="{$basePath}/js/tiny_mce/tiny_mce.js" ></script>
    <script type="text/javascript" >
        tinyMCE.init({
            mode: "specific_textareas",
            editor_selector: "mceEditor",
            theme : "advanced"
        });
    </script >
	{block head}{/block}
</head>

<body>
	<div id="header">

		<H1>{$name}</H1>

		{if $user->isLoggedIn()}
			<div id="navigation">
				<ul>
					<li><a n:href="Dashboard:">Dashboard</a></li>
					<li><a n:href="Post:">Posts</a></li>
					<li><a n:href="Page:">Pages</a></li>
					<li><a n:href="Image:">Images</a></li>
					<li><a n:href="Comment:">Comments</a></li>
					<li><a n:href="Newsreel:">Newsreel</a></li>
					<li><a n:href="Option:">Options</a></li>
					<li><a n:href="User:">Users</a></li>
				</ul>
			</div>
		{/if}

		<H2>{$presenter->name} | {$presenter->view}</H2>
	</div>

	<div id="main">

		{snippet flashMessages}
			<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
		{/snippet}

		<div id="content">
			{include #content}
		</div>

	</div>

	{if $user->isLoggedIn()}
		<div id="footer">
			Logged in as <a n:href="User:password">{$user->getIdentity()->username}</a> | <a n:href="signOut!">Logout</a> | <a style="font-weight: bold;" n:href=":Front:Homepage:">Show web</a></a>
		</div>
	{/if}
	
</body>
</html>
