{#content}
{if count($tags)}
	<h3>Tags cloud</h3>
	<p>
		{foreach $tags as $tag}
			{if $iterator->last}
				<a href="{plink Tag:posts id => $tag->id, slug => $tag->slug}">{$tag->name}</a>
			{else}
				<a href="{plink Tag:posts id => $tag->id, slug => $tag->slug}">{$tag->name}</a>,
			{/if}
		{/foreach}
	</p>
{/if}