{var $title = $post->name}
{var $desc = $post->description}
{var $keys = $post->keywords}

{block content}

<h2>{$post->name}</h2>

<h3>{$post->description}</h3>

{!$post->content}

<p><small>{$post->created|date:'%d.%m.%y'} | {$post->hit} Views</small></p>

{if $post->comment}
	{control comments}
{/if}

