#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:
			driver: pdo_mysql
			charset: utf8

		entities:
			- %flameDir%/models

		imageStorage:
			thumbDir: 'media/images_thumbnails'
			imageDir: 'media/images'
			baseDir: %wwwDir%

		selenium:
			host: localhost
			browser: firefox
			browserUrl: http://localhost/JS-CMS/www/
			# port: 4444
			
	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		zlib.output_compression: yes


	nette:
		session:
			autoStart: smart
			expiration: + 30 days

	services:
		#MemoryStorage:
		#	class: Nette\Caching\Storages\MemoryStorage
		#	autowired: no

		Authorizator: Flame\Security\Authorizator
		Authenticator: Flame\Security\Authenticator

		EntityManagerConfig:
			class: Doctrine\ORM\Configuration
			factory: Doctrine\ORM\Tools\Setup::createAnnotationMetadataConfiguration(%entities%, true)
		EntityManager:
			class: Doctrine\ORM\EntityManager
			factory: Doctrine\ORM\EntityManager::create(%database%, @EntityManagerConfig)

		NewsreelFacade: Flame\Models\Newsreel\NewsreelFacade
		UserFacade: Flame\Models\Users\UserFacade
		OptionFacade: Flame\Models\Options\OptionFacade
		CommentFacade: Flame\Models\Comments\CommentFacade
		PostFacade: Flame\Models\Posts\PostFacade
		CategoryFacade: Flame\Models\Categories\CategoryFacade
		TagFacade: Flame\Models\Tags\TagFacade
		PageFacade: Flame\Models\Pages\PageFacade
		ImageFacade: Flame\Models\Images\ImageFacade

	factories:

development < common:
	parameters:
		database:
			host: localhost
			dbname: cms
			user: root
			password: root

production < common:
	parameters:
		database:
			host: wm20.wedos.net
			dbname: d16533_jscms
			user: w16533_jscms
			password: yourpasswordhere
