{block #ListFull}

	<div class="post-box" n:foreach="$posts as $post">
		<h2><a href="{plink Post: $post->id, slug => $post->slug}"> {$post->name}</a></h2>
		{if $post->markdown}
			{!$post->content|markdown}
		{else}
			{!$post->content}
		{/if}
		<hr>
	</div>

	{control paginator}
{/block}