{if count($newsreels)}
	<H3>Newsreel</H3>
	<ul>
		<li n:foreach="$newsreels as $newsreel">
			<div>
				<small>{$newsreel->date|date:'%d.%m.%y'}</small>
				<strong>{$newsreel->title}</strong><br />
				<p>
					{$newsreel->content|striptags|truncate:250}
					<a href="{plink Newsreel:detail $newsreel->id}">Show detail-></a>
				</p>
			</div>
		</li>
	</ul>
{/if}