
html, body {
	font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: #333;
}

#main {
	background-color: #fff;
	padding: 10px;
	width: 980px;
	margin: 0 auto;
}

h1, h2, h3, h4 {
	color: #3484D2;
}

h1 {
	font-size: 200%;
}

h2 { 
	font-size: 175%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 125%;
}

small {font-size: 75%;}

a:hover {
	background: #3484D2;
}

a, a:link, a:visited {
	color: black;
}

a[href^="error:"] {
	background: red;
	color: white;
}

a.active {
	background: #3484D2;
}

#header {
	background-color: #f2f2f2;
	border-bottom: 3px solid #CCCACA;
}

#header-cont {
	margin: 15px;
	text-align: center;
	min-height: 90px;
}

#navigation {
	background: #eee;
	padding: 2px;
}

#navigation ul li{
	display: inline;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

.comment-box {
	border: 1px solid #eee;
	padding: 10px;
	margin: 5px 0;
}

.odd {
	background-color: $eee;
}

#admin-nav {
	text-align: right;
	background: black;
	color: #fff;
}

#admin-nav a {
	color: #fff;
}

#admin-nav ul li{
	display: inline;
}

#content {
	margin: 25px 0;
}

.post-box {
	margin: 15px 0;
}

.table caption {
	background-color: #BABABA;
}

.table thead {
	background-color: #eee;
}

.table thead th {
	padding: 5px;
}

.table tbody tr td {
	padding: 10px;
	border: 1px solid #eee;
}
