body {
	font-size: 13px;
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;	
	width:auto; height:auto;	
	padding: 0 0 0 0;
	margin: 0;
	color: #7d7d7b;	
	background-color: #f3f2f2;
	border-top: 5px solid #ffd800;	
	min-width: 1100px;
}

p {
	line-height: 1.7em;
	margin: 0 0 20px 0;	
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0 0 0 0;
	padding: 0;
}

img {
	margin: 0;
}

h1, h2, h3, h4 {
	color: #3484D2;
}

h1 {
	font-size: 200%;
}

h2 { 
	font-size: 175%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 125%;
}

small {font-size: 75%;}

a:hover {
	background: #3484D2;
}

a, a:link, a:visited {
	color: black;
}

a.active {
	background: #3484D2;
}

#main {
	background-color: #fff;
}

#header {
	background-color: #f2f2f2;
	border-bottom: 3px solid #CCCACA;
}

#header-cont {
	padding: 20px;
	text-align: center;
	min-height: 80px;
}

#navigation {
	padding: 5px;
	background: #eee;
}

#navigation li{
	display: inline;
}

#comment {
	margin: 35px 0;
}

.comment-box {
	border: 1px solid #eee;
	padding: 10px;
	margin: 5px 0;
}

.odd {
	background-color: $eee;
}

#left {
	width: 680px;
	float: left;
	padding: 10px;
}

#right {
	width: 260px;
	float: right;
	padding: 10px;
}
#content {
	margin: 25px 0;
}

.post-box {
	margin: 15px 0;
}

#footer {
	padding: 30px 0 30px;
	background-color: #F3F2F2;
	border-top: 1px solid #CCCACA;
}
.wrapper {
	width: 980px;
	margin: 0 auto;
}
