
html, body {
	font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

#main {
	background-color: #fff;
	padding: 10px;
	width: 980px;
	margin: 0 auto;
}

h1, h2, h3, h4 {
	color: #3484D2;
}

h1 {
	font-size: 200%;
}

h2 { 
	font-size: 175%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 125%;
}

small {font-size: 75%;}

a:hover {
	background: #3484D2;
}

a, a:link, a:visited {
	color: black;
}

a.active {
	background: #3484D2;
}

#header {
	background-color: #f2f2f2;
	border-bottom: 3px solid #CCCACA;
}

#header-cont {
	text-align: center;
	min-height: 80px;
}

#navigation {
	background: #eee;
	width: 980px;
	margin: 0 auto;
}

#navigation li{
	display: inline;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

#comment {
	margin: 35px 0;
}

.comment-box {
	border: 1px solid #eee;
	padding: 10px;
	margin: 5px 0;
}

.odd {
	background-color: $eee;
}

#content {
	margin: 25px 0;
}

.post-box {
	margin: 15px 0;
}
